

body {
  content: border-box;
  font-family: "Inter", sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background: #ffffff00;
}

.container {
  border-radius: 2px;
  padding: 2px;
  display: inline-block; /*NP*/
  width: 250px;
}

td {
  width: 30px;
  height: 30px;
  text-align: center;
}

td:hover {
  background: #8b8b8b00;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  padding: 3px;
  box-shadow: 2px 2px 2px #b3b3b3, -1px 0 0.6em #bdbdbd;
}

td {
  width: 32px;
  padding: 3px;
  margin: 2px;
  cursor: pointer;
}

tr {
  padding-top: 2px;
  padding-bottom: 2px;
}

th {
  width: 32px;
  font-weight: 600;
}

.marked {
  background-color: #a9cbec;
  border-radius: 0px;
  box-shadow: 2px 2px 2px #a6acaf, -0em 0 0.0em #f8f9f9;
}

.markA {
  background-color: #a6d2ff;
  border-radius: 0px;
  box-shadow: 2px 2px 2px #a6acaf, -0em 0 0.0em #f8f9f9;
}
.markB {
  background-color: #fff9a9;
  border-radius: 0px;
  box-shadow: 2px 2px 2px #a6acaf, -0em 0 0.0em #f8f9f9;
}
.markS {
  background-color: #ff7be2;
  border-radius: 0px;
  box-shadow: 2px 2px 2px #a6acaf, -0em 0 0.0em #f8f9f9;
}


.past {
  color: rgb(202, 202, 202);
}

.today {
  color: rgb(255, 0, 0);
}

